@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#2e2e2d 85%, #4d4d4b 90%);
  color: #d9e2f1;
  min-height: 100vh;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%;
}

#main-header #title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#main-header #title img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ffc404;
}

#main-header #menu {
  width: 18rem;
  display: flex;
  justify-content: space-between;

  .navItems {
    width: 10rem;
    display: flex;
    justify-content: space-between;
  }

  .navItems li {
    list-style: none;
    text-decoration: none;
  }

  .navItems li a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #f3efdb;
    font-weight: bold;
    font-size: 0.9rem;
    border-bottom: 1px solid transparent;
    padding: 5px 2px;
    transition: all 0.2s ease-in;
  }

  .navItems li a:hover {
    color: #ebcb1b;
    border-bottom: 1px solid #ebcb1b;
  }

  .navItems a.active {
    color: #ebcb1b;
    border-bottom: 1px solid #ebcb1b;
  }
}

#main-header button {
  font-size: 1.2rem;
  font-family: 'L% / ato', sans-serif;
  color: #97957b;
}

#main-header button:hover {
  color: #dabc13;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0;
  color: #ffc404;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#meals {
  width: 95%;
  max-width: 80rem;
  list-style: none;
  margin: 2rem auto;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
  box-shadow: 0 0 65px 15px rgba(151, 151, 151, 0.25);
  border-radius: 20px;
}

.meal-item {
  background: linear-gradient(#141414 45%, #474745 90%);
  border-radius: 90% / 35%;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 8px 26px rgba(112, 111, 111, 0.3);
}

.meal-item article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.meal-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0 1.5rem;
}

.meal-item button:disabled {
  background-color: #757474;
  color: #b4b4b4;
  letter-spacing: 0ch;
  border-color: #b4b4b4;
}

.meal-item-description {
  margin: 1rem 2rem;
  line-height: 1.4;
}

.meal-item-price {
  display: inline-block;
  background-color: #312c1d;
  color: #ffc404;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.6rem 1.5rem;
  margin: 0;
  border-radius: 90% / 30%;
}

.meal-item-actions {
  margin-bottom: 1.5rem;
}

.cart h2 {
  margin: 1rem 0;
}

.cart ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-actions .text-button {
  color: #1d1a16;
}

.modal-actions .text-button:hover,
.modal-actions .text-button:active {
  color: #312c1d;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
  font-size: 1.15rem;
  font-weight: bold;
  color: #46443c;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.cart-item p {
  margin: 0;
}

.cart-item-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-item-actions button {
  cursor: pointer;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #312c1d;
  color: #ffc404;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-actions button:hover,
.cart-item-actions button:active {
  background-color: #1d1a16;
  color: #ffab04;
}

.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.control-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: #fdc91d;
  border: 2px solid #cecbc0;
  color: #000000;
  padding: 0.5rem 1.5rem;
  border-radius: 90% / 25%;
  transition: all 0.2s ease-out;
}

.button:hover,
.button:active {
  background-color: #ffb41f;
  border-color: #494744;
  color: #ffffff;
  letter-spacing: 1px;
}

.text-button {
  font: inherit;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.5px;
  background-color: transparent;
  border: none;
  color: #ccb802;
  transition: all 0.2s ease-in;
}

.text-button:hover,
.text-button:active {
  color: #ffe600;
}

.modal {
  background-color: #e4ddd4;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 80%;
  max-width: 40rem;
  animation: fade-slide-up 0.3s ease-out forwards;
  transition: all 0.3s ease-in;
}

#modal .modal button {
  margin-left: 0.5rem;
}

#modal .modal button:hover {
  letter-spacing: 0;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
